<ion-header>
    <ion-navbar>
        <ion-title>Фразы для {{dictionary?.name}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="newCard()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let card of cardList" #itemSliding>
            <button ion-item>
                <ion-icon name="school" item-left></ion-icon>
                {{card.word}}
                <ion-note item-right>{{card.translate}}</ion-note>
            </button>
            <ion-item-options side="right">
                <!--<button ion-button icon-only color="secondary" [navPush]="cardComponent" [navParams]="dictionary">-->
                    <!--<ion-icon name="create"></ion-icon>-->
                <!--</button>-->
                <button ion-button icon-only color="danger" (click)="remCard(card, itemSliding)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
