<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Картотека</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="newDictionary()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-list>
        <ion-item-sliding *ngFor="let dictionary of dictionaryList" #slidingItem>
            <button ion-item [navPush]="practiceComponent" [navParams]="dictionary">
                <ion-icon name="folder-open" item-left></ion-icon>
                {{dictionary.name}}
                <ion-note item-right></ion-note>
                <ion-icon name="bicycle" item-right></ion-icon>
            </button>
            <ion-item-options side="right">
                <button ion-button icon-only color="secondary" [navPush]="cardComponent" [navParams]="[dictionary, false]">
                    <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-only color="danger" (click)="remDictionary(dictionary, slidingItem)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>