<ion-header>
    <ion-navbar>
        <ion-title>Тренировка</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="card">
        <ion-card-header>Переведите фразу</ion-card-header>
        <ion-card-content>
            <form novalidate #form="ngForm" (ngSubmit)="validateCard()">
                <ion-list>
                    <ion-item>
                        <ion-label floating>Исходная фраза</ion-label>
                        <ion-input readonly value="{{card.word}}" name="word"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Введите перевод</ion-label>
                        <ion-input required [(ngModel)]="translate" name="translate"></ion-input>
                    </ion-item>
                </ion-list>
                <button ion-button full type="submit" [disabled]="disabled || !form.valid">Проверить</button>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!card">
        <ion-card-header>Внимание</ion-card-header>
        <ion-card-content>
            В картотеке нет ни одной фразы для тренировки
            <button ion-button full [navPush]="cardComponent" [navParams]="[dictionary, true]">Добавить фразы</button>
        </ion-card-content>
    </ion-card>
</ion-content>