<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Настройки приложения</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    Пока ничего не придумал, что сюда добавить, но видимо должна быть возможность импорта/экспорта картотеки.
</ion-content>